.footer {
    background: lightgray;
    color: #fff;
    padding: 2%;
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Add margin to move the footer down */
    
    .col {
      width: fit-content;
      margin: 25px 50px;
    }
    
    a {
      color: black;
      font-size: 20px;
      text-decoration: none; /* Ensure links do not have underlines */
    }
    
    .links {
      display: flex;
      flex-direction: column;
    }
    
    h6 {
      font-size: 22.5px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
    }
  
    .col {
      margin: 15px 0;
    }
  
    a {
      font-size: 18px;
    }
  
    h6 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 10px;
    }
  
    .col {
      margin: 10px 0;
      text-align: center;
    }
  
    a {
      font-size: 16px;
    }
  
    h6 {
      font-size: 18px;
    }
  }
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
    }
  
    .col {
      margin: 15px 0;
    }
  
    a {
      font-size: 18px;
    }
  
    h6 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 10px;
    }
  
    .col {
      margin: 10px 0;
      text-align: center;
    }
  
    a {
      font-size: 16px;
    }
  
    h6 {
      font-size: 18px;
    }
  }